<html lang="en">

<head>
    <title>Inflection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/index.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>

<body id='body'>
    <script src="{{ url_for('static', filename= 'pre.js') }}"></script>
    <div class="holder">
        <canvas id="output"></canvas>
        <i class="mic fa fa-microphone fa-5x" onclick="switchcolor()"></i>
    </div>
    <audio controls crossorigin="anonymous" id="audio" src="despacito.mp3">
    </audio>

    <script src='https://npmcdn.com/meyda@5.1.2/dist/web/meyda.js'></script>
    <script src="{{ url_for('static', filename= 'index.js') }}"></script>
</body>

</html>